 

 <div class="side-nav-content  ">

  <ul  class="nav-list ">

    <li  >
          
        <span>

            <button  class="nav-list-item   "  (click)="updateIsUser()" class="nav-list-item">Manage User</button>

             
        </span>
    </li>


    <li  >
        
        <span>
             
            <button  class="nav-list-item  "  (click)="updateIsProduct()" class="nav-list-item">Manage Product</button>

             
        </span>
    </li>


    <li  >
         
         
        <span>
             
            <button  (click)="updateIsCategory()" class="nav-list-item">Manage Category</button>
             
        </span>
    </li>


  </ul>

 </div>
