
app-header
{

position: fixed;
width: 100%;
top: 0px;
height: 4rem;
z-index: 2;

}

main{
    position:absolute;
    width: 100%;
    top: 4rem;
    z-index:1;
}

app-side-nav
{

    position: absolute;
    left:0rem;
    width: 250px;
    height:   calc(100vh - 4rem);
    background-color:  #07030354;
    border-top:1px solid white;
}

.display-area
{
    position:absolute;
     left: 250px;
     width: calc(100% -  250px);
     height: calc(100vh - 4rem );
     border-top: 2px solid white;


}